@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
}

@layer components {
  .pattern {
    @apply bg-slate-50;
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23777777' fill-opacity='0.10'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

  .title,
  h1,
  h2,
  h3 {
    letter-spacing: 0.5px;
    font-weight: 600;
    line-height: 100%;
  }

  .title {
    @apply text-6xl font-semibold;
    font-style: normal;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
    font-weight: 500;
  }

  h4 {
    @apply text-xl;
    font-weight: 400;
  }

  h5 {
    @apply text-lg;
    font-weight: 400;
  }

  p,
  a {
    font-weight: 400;
  }

  a {
    @apply font-light underline;
  }
}
